# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

source ~/.powerlevel10k/powerlevel10k.zsh-theme

## Aliases
{{- if eq .chezmoi.os "darwin" }}
alias ls='eza --icons --octal-permissions -al --no-permissions'
alias dssh='ssh -l abonforti -i ~/.ssh/id_ed25519_dxp'
{{ else }}
alias ls='exa --icons --octal-permissions -al --no-permissions'
{{ end }}
alias grep='grep --color=always -i'
alias cat='bat -p --theme=OneHalfDark'
alias gl='git log --color --graph --pretty=format:"%Cblue%G?%Creset %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ch) %C(bold blue)<%an>%Creset" --abbrev-commit'
alias md='mkdir -p'
alias pssh='ssh -o PasswordAuthentication=yes -o PreferredAuthentications=password'
{{- if eq .chezmoi.os "linux" }}
alias ssh='ssh-add ~/.ssh/id_ed25519 && ssh'
alias pwnnet='sudo /bin/sh $HOME/bin/linux_connection_share.sh usb0 wlp4s0'
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
alias brewup='brew update; brew upgrade; brew cleanup; brew doctor'
export PATH="/opt/homebrew/opt/python@3.12/libexec/bin:$PATH"
alias starthybris="gradle start -x :infrastructure:dev:startNginx"
export HYBRIS_OPT_CONFIG_DIR=$HOME/Development/workspaces/opt-properties/dxp
{{- end }}

## ENV
[[ ! -d ~/bin ]] || export PATH=$HOME/bin:$PATH
[[ ! -d /snap/bin ]] || export PATH=$PATH:/snap/bin
{{- if eq .chezmoi.os "darwin" }}
export HOMEBREW_NO_ANALYTICS=1
if command -v pyenv 1>/dev/null 2>&1; then
  export PYENV_ROOT=$HOME/.pyenv
  eval "$(pyenv init -)"
fi
[[ -s "$HOME/.dxp_creds" ]] && source "$HOME/.dxp_creds"
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

[[ ! -f ~/.zsh_functions ]] || source ~/.zsh_functions

export KEYID=0x7F3F35EB80ECF823

{{- if eq .chezmoi.os "darwin" }}
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && export JAVA_HOME=`sdk home java 17.0.7-sapmchn`
{{- end }}
