[user]
  name = Alessio Bonforti
  {{- if eq .chezmoi.os "linux" }}
  email = info@alessiobonforti.com
  {{- else if eq .chezmoi.os "darwin" }}
  email = a.bonforti@accenture.com
  {{- end }}

[color]
  ui = auto
  diff = auto
  status = auto

[core]
  excludesfile = ~/.gitignore_global
  {{- if eq .chezmoi.os "darwin" }}
  pager = delta
  {{- end }}

[alias]
  co = checkout
  cob = checkout -b
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
{{- if eq .chezmoi.os "darwin" }}
  d = diff --color
[pager]
  d = diff-so-fancy | less --tabs=4 -RFXS
{{- end }}
