[user]
  name = Alessio Bonforti
  {{- if eq .chezmoi.os "linux" }}
  email = info@alessiobonforti.com
  {{- else if eq .chezmoi.os "darwin" }}
  email = a.bonforti@accenture.com
  {{- end }}

[color]
  ui = auto
  diff = auto
  status = auto

[core]
  excludesfile = ~/.gitignore_global
  {{-if eq .chezmoi.os "darwin" }}
  pager = delta
  {{- end }}

[alias]
  co = checkout
  cob = checkout -b
  st = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[diff]
  tool = vimdiff

{{- if eq .chezmoi.os "darwin" }}
[merge]
  tool = intellij
[difftool "intellij"]
        cmd = /Applications/IntelliJ\\ IDEA.app/Contents/MacOS/idea diff $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\")
[mergetool "intellij"]
        cmd = /Applications/IntelliJ\\ IDEA.app/Contents/MacOS/idea merge $(cd $(dirname \"$LOCAL\") && pwd)/$(basename \"$LOCAL\") $(cd $(dirname \"$REMOTE\") && pwd)/$(basename \"$REMOTE\") $(cd $(dirname \"$BASE\") && pwd)/$(basename \"$BASE\") $(cd $(dirname \"$MERGED\") && pwd)/$(basename \"$MERGED\")
        trustExitCode = true
{{- end }}

{{-if eq .chezmoi.os "darwin" }}
[delta]
  features = decorations
  dark = true
  line-numbers = true
  true-color = always

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
{{- end }}
